<?php use w3c\helper\Str;?><!Doctype html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>/*? echo $this->title ?*/</title>
<meta name="keywords" content="/*?echo $this->keyword ?*/"/>
<meta name="description" content="/*?echo $this->description; ?*/"/>
<link rel="stylesheet" href="{URL_ROOT}static/style/main_ui.css" type="text/css" />
	<script type="text/javascript">var APP_PATH="{APP_PATH}";var BASE_PATH="{URL_ROOT}";</script>
	<script type="text/javascript" src="{URL_ROOT}static/script/jquery-3.3.1.min.js"></script>
	<script id="w3capp_scr" src="{URL_ROOT}static/script/com.js?v=202008f" type="text/javascript"></script>
	<link rel="stylesheet" href="{URL_ROOT}static/style/icomoon/style.css" type="text/css" />
	?{html$otherhead}</head><body>