<!--include::common/header-->
<link rel="stylesheet" href="{URL_ROOT}static/style/block.css" type="text/css"/>
<script>
	request_js("block_lib",function(){
		editv.init();
	});
	function search(){
		EId("getform").pageIdx.value=0;
		EId("getform").dataCount.value=0;
		EId("getform").submit();
	}
	function addData(){
		editv.form_get("{APP_PATH}system/user_add");
	}
	function delByIds(){
		EId("listform").action='{APP_PATH}system/user_del';
		EId("listform").submit();
	}
	function pageGoto(){
		EId("getform").pageIdx.value=EId("getform").pageIdx.value*1+1;
		EId("getform").submit();
	}
	function editData(id){
		editv.form_get("{APP_PATH}system/user_edit/"+id);
	}
</script>
<div class="pagetop">
	系统用户
</div>
<div class="opbox-top">
	<form method="get" name='getform' id="getform">
		{GV_INPUT}
		<input name='dataCount' value='/*?echo $this->list_info->amount;?*/' type='hidden'/>
		<input name='pageIdx' value='/*?echo $this->list_info->page_index?*/' type='hidden'/>
		<table>
			<tr>
				<td>用户名：</td><td>
				<input name="wh_name" value="<?php echo $_GET['wh_name'];?>"/>
				</td>
				<td>
				<button type="button" onclick="search()">
					查询
				</button>
				</td><td class="short_txt"></td><td><button type="button" onclick="addData()">添加</button>
				<button type="button" onclick="delByIds()">删除</button></td></tr>
		</table>
	</form>
</div>
<div id="page">
	<div class="thh">
		<span class='rp'>/*?
			echo '共'.$this->list_info->amount.'条,&nbsp;'.$this->list_info->page_index.'/'.ceil($this->list_info->amount/$this->list_info->page_size)."页,&nbsp;每页显示".$this->list_info->page_size;
			?*/</span>
	</div>
	<form id="listform" method="post">
	<table class="tpage">
		<thead><tr><th class="colb"></th><th class="short_txt">UID</th><th>用户名</th><th>email</th><th>电话</th><th></th></tr></thead>
		<tbody>/*?
		        foreach($this->list_info as $row){
		        	?*/<tr><td><input type="checkbox" name='rid[]' value='/*?echo $row['id']?*/' /></td>
		        		<td>/*?echo $row['id']?*/</td><td>/*?echo $row['name']?*/</td><td>/*?echo $row['email']?*/</td>
		        		<td>/*?echo $row['tel']?*/</td>
		        		<td><a href="javascript:editData('/*?echo $row['id'];?*/');">编辑</a></td>
		        	</tr>
		        	/*?
		        } 	
		        ?*/</tbody><tfoot>
		        	<tr><td colspan="6">/*?echo self::pageFoot($this->list_info->page_index, $this->list_info->page_size, $this->list_info->amount);?*/</td></tr>
		        </tfoot>
	</table>
	</form>
</div>
<!--include::common/footer-->