/*?$editdata=empty($edit_data)?array (
  'article_id' => '',
  'support' => '',
  'comment' => '',
):$edit_data;?*/<input name="content_id" value="/*?echo $editdata['id'];?*/" type="hidden"/><div class="formline ctext"><span class="labt">会员ID:</span><p class="inct"><input type="text" name="member_id" value="/*?echo Str::htmlchars($editdata['member_id']);?*/"/></p></div>
<div class="formline ctext"><span class="labt">文章id:</span><p class="inct"><input name="article_id" type="text" value="/*?echo Str::htmlchars($editdata['article_id']);?*/"/></p></div>
<div class="formline cdatetime"><span class="labt">评论时间:</span><div class="inct"><input type="text" id="add_time" name="add_time" value="/*?echo $editdata['add_time']?date("Y-m-d H:i:s",$editdata['add_time']):'';?*/"/><div style="position:relative;"><div id="add_timeca" style="display:none;" class="ca_sel"></div></div><script>request_js("date",function(){date_view("add_time",0)});</script></div></div>
<div class="formline ctext"><span class="labt">点赞:</span><p class="inct"><input type="text" name="support" value="/*?echo Str::htmlchars($editdata['support']);?*/"/></p></div>
<div class="formline ctext"><span class="labt">评论:</span><p class="inct"><input type="text" name="comment" value="/*?echo Str::htmlchars($editdata['comment']);?*/"/></p></div>

		<input type="hidden" value="YToxMDp7czo5OiJtZW1iZXJfaWQiO3M6NDoidGV4dCI7czoxMDoiYXJ0aWNsZV9pZCI7czo2OiJoaWRkZW4iO3M6ODoiYWRkX3RpbWUiO3M6ODoiZGF0ZXRpbWUiO3M6Nzoic3VwcG9ydCI7czo0OiJ0ZXh0IjtzOjc6ImNvbW1lbnQiO3M6NDoidGV4dCI7czozOiJ0cGwiO3M6NjoiaGlkZGVuIjtzOjQ6InR5cGUiO3M6NjoiaGlkZGVuIjtzOjQ6Im1hcmsiO3M6NjoiaGlkZGVuIjtzOjc6InJlbWFya3MiO3M6NjoiaGlkZGVuIjtzOjExOiJ1cGRhdGVfdGltZSI7czo2OiJoaWRkZW4iO30=" name="data_/*?echo $this->cookie_pre?*/"/>